<%- include('./header')%>
    <div class="container" style="margin-top: 8em;">
        <div class="row">
            <div class="col mx-auto text-center">
                <div class="card custom-shadow" style="margin-top: 3em !important;">
                    <h1 style="font-size: 40px;">Il Progetto</h1>
                    <div class="card-body">
                        <p>Questo è un paragrafo di prova molto interessante se devo essere sincero: le brutte intenzioni, la maleduczione, la tua brutta figura di ieri sera, la tua ingratitudine la tua arroganza, fai cosa vuoi mettendo i piedi in testa,
                            certo il disordine di confusione è una forma d'arte, ma tu sai solo coltivare invidia, ringrazia al cielo se isu questo palco, ringrazia chi ti c'ha portato dentro, ma questo sono io...</p>
                    </div>
                </div>
            </div>
            <div class="col mx-auto text-center">
                <div class="card custom-shadow">
                    <h1 style="font-size: 40px;">Su di Noi</h1>
                    <div class="card-body">
                        <p>Questo è un paragrafo di prova molto interessante se devo essere sincero: le brutte intenzioni, la maleduczione, la tua brutta figura di ieri sera, la tua ingratitudine la tua arroganza, fai cosa vuoi mettendo i piedi in testa,
                            certo il disordine di confusione è una forma d'arte, ma tu sai solo coltivare invidia, ringrazia al cielo se isu questo palco, ringrazia chi ti c'ha portato dentro, ma questo sono io...</p>
                    </div>
                </div>
            </div>
            <div class="col mx-auto text-center">
                <div class="card custom-shadow" style="margin-top: 3em !important;">
                    <h1 style="font-size: 40px;">La nostra Scuola</h1>
                    <div class="card-body">
                        <p>Questo è un paragrafo di prova molto interessante se devo essere sincero: le brutte intenzioni, la maleduczione, la tua brutta figura di ieri sera, la tua ingratitudine la tua arroganza, fai cosa vuoi mettendo i piedi in testa,
                            certo il disordine di confusione è una forma d'arte, ma tu sai solo coltivare invidia, ringrazia al cielo se isu questo palco, ringrazia chi ti c'ha portato dentro, ma questo sono io...</p>
                    </div>
                </div>
            </div>
            <div class="col mx-auto text-center">
                <div class="card custom-shadow" style="margin-top: 3em !important;">
                    <h1 style="font-size: 40px;">Dove sta Bugo</h1>
                    <div class="card-body">
                        <p>Questo è un paragrafo di prova molto interessante se devo essere sincero: le brutte intenzioni, la maleduczione, la tua brutta figura di ieri sera, la tua ingratitudine la tua arroganza, fai cosa vuoi mettendo i piedi in testa,
                            certo il disordine di confusione è una forma d'arte, ma tu sai solo coltivare invidia, ringrazia al cielo se isu questo palco, ringrazia chi ti c'ha portato dentro, ma questo sono io...</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col mx-auto">
            <div class="card custom-shadow" style="margin-top: 3em !important;">
                <h1 class="text-center">Il Nostro Team</h1>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card card-profile card-plain">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="card-header card-header-image custom-shadow">
                                            <a href="#">
                                                <img class="img" src="../public/user-pages/assets/img/faces/kendall.jpg">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h4 class="card-title">Leonardo Viada</h4>
                                            <h6 class="card-category text-muted">Founder</h6>
                                            <p class="card-description">
                                                Don't be scared of the truth because we need to restart the human foundation in truth...
                                            </p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="#" class="btn btn-just-icon btn-link btn-twitter"><i class="fab fa-facebook-f" style="color: blue;"></i></a>
                                            <a href="#" class="btn btn-just-icon btn-link btn-facebook"><i class="fab fa-instagram" style="color: purple;"></i></a>
                                            <a href="#" class="btn btn-just-icon btn-link btn-google"><i class="fab fa-google" style="color: red;"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card card-profile card-plain">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="card-header card-header-image custom-shadow">
                                            <a href="#">
                                                <img class="img" src="../public/user-pages/assets/img/faces/kendall.jpg">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h4 class="card-title">Alberto Sola</h4>
                                            <h6 class="card-category text-muted">Designer e Creator</h6>
                                            <p class="card-description">
                                                L'amicizia non è sempre fittizia...
                                            </p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="#" class="btn btn-just-icon btn-link btn-twitter"><i class="fab fa-facebook-f" style="color: blue;"></i></a>
                                            <a href="#" class="btn btn-just-icon btn-link btn-facebook"><i class="fab fa-instagram" style="color: purple;"></i></a>
                                            <a href="#" class="btn btn-just-icon btn-link btn-google"><i class="fab fa-google" style="color: red;"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="card card-profile card-plain">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="card-header card-header-image custom-shadow">
                                            <a href="#">
                                                <img class="img" src="../public/user-pages/assets/img/faces/kendall.jpg">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h4 class="card-title">Giosuè Trapani</h4>
                                            <h6 class="card-category text-muted">Founder</h6>
                                            <p class="card-description">
                                                Don't be scared of the truth because we need to restart the human foundation in truth...
                                            </p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="#" class="btn btn-just-icon btn-link btn-twitter"><i class="fab fa-facebook-f" style="color: blue;"></i></a>
                                            <a href="#" class="btn btn-just-icon btn-link btn-facebook"><i class="fab fa-instagram" style="color: purple;"></i></a>
                                            <a href="#" class="btn btn-just-icon btn-link btn-google"><i class="fab fa-google" style="color: red;"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card card-profile card-plain">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="card-header card-header-image custom-shadow">
                                            <a href="#">
                                                <img class="img" src="../public/user-pages/assets/img/faces/kendall.jpg">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h4 class="card-title">Lorenzo De Staccato Blasio</h4>
                                            <h6 class="card-category text-muted">Founder</h6>
                                            <p class="card-description">
                                                Don't be scared of the truth because we need to restart the human foundation in truth...
                                            </p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="#" class="btn btn-just-icon btn-link btn-twitter"><i class="fab fa-facebook-f" style="color: blue;"></i></a>
                                            <a href="#" class="btn btn-just-icon btn-link btn-facebook"><i class="fab fa-instagram" style="color: purple;"></i></a>
                                            <a href="#" class="btn btn-just-icon btn-link btn-google"><i class="fab fa-google" style="color: red;"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="card card-profile card-plain">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="card-header card-header-image custom-shadow">
                                            <a href="#">
                                                <img class="img" src="../public/user-pages/assets/img/faces/kendall.jpg">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h4 class="card-title">Veronica Aimar</h4>
                                            <h6 class="card-category text-muted">Founder</h6>
                                            <p class="card-description">
                                                Don't be scared of the truth because we need to restart the human foundation in truth...
                                            </p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="#" class="btn btn-just-icon btn-link btn-twitter"><i class="fab fa-facebook-f" style="color: blue;"></i></a>
                                            <a href="#" class="btn btn-just-icon btn-link btn-facebook"><i class="fab fa-instagram" style="color: purple;"></i></a>
                                            <a href="#" class="btn btn-just-icon btn-link btn-google"><i class="fab fa-google" style="color: red;"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card card-profile card-plain">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="card-header card-header-image custom-shadow">
                                            <a href="#">
                                                <img class="img" src="../public/user-pages/assets/img/faces/kendall.jpg">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h4 class="card-title">Mattero Naccarato</h4>
                                            <h6 class="card-category text-muted">Founder</h6>
                                            <p class="card-description">
                                                Don't be scared of the truth because we need to restart the human foundation in truth...
                                            </p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="#" class="btn btn-just-icon btn-link btn-twitter"><i class="fab fa-facebook-f" style="color: blue;"></i></a>
                                            <a href="#" class="btn btn-just-icon btn-link btn-facebook"><i class="fab fa-instagram" style="color: purple;"></i></a>
                                            <a href="#" class="btn btn-just-icon btn-link btn-google"><i class="fab fa-google" style="color: red;"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./footer')%>