<%- include('./partials/header')%>
    <div class="page-header " data-parallax="true">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto text-center">
                    <h1>Chi Siamo ?</h1>
                    <p></p>
                    <h1>Come nasce il Progetto ?</h1>
                    <p></p>
                    <h1>La nostra Scuola</h1>
                    <p></p>
                    <h1>Amistad ?</h1>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised mx-5" style="border-radius: 15px; ">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-profile card-plain">
                    <div class="card-header card-avatar">
                        <img src="/public/user-pages/assets/img/faces/kendall.jpg" alt="Immagine Profilo">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-profile card-plain">
                    <div class="card-header card-avatar">
                        <img src="/public/user-pages/assets/img/faces/kendall.jpg" alt="Immagine Profilo">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-profile card-plain">
                    <div class="card-header card-avatar">
                        <img src="/public/user-pages/assets/img/faces/kendall.jpg" alt="Immagine Profilo">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-profile card-plain">
                    <div class="card-header card-avatar">
                        <img src="/public/user-pages/assets/img/faces/kendall.jpg" alt="Immagine Profilo">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer')%>