<!-- FOOTER -->
<div class="card-footer bg-white custom-footer">
    <div class="container ">
        <div class="row">
            <div class="col">

            </div>
        </div>
        <!-- rights -->
        <div class="footer-copyright text-center py-3"><i class="fa fa-copyright mr-1" aria-hidden="true "></i>2020 | Tutti i diritti riservati |<strong>ITIS Delpozzo Cuneo</strong></div>
    </div>
</div>
<!-- END-FOOTER -->

<!--   Core JS Files   -->
<script src="../user-pages/assets/js/core/jquery.min.js " type="text/javascript "></script>
<script src="../user-pages/assets/js/core/popper.min.js " type="text/javascript "></script>
<script src="../user-pages/assets/js/core/bootstrap-material-design.min.js " type="text/javascript "></script>
<script src="../user-pages/assets/js/plugins/moment.min.js"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="../user-pages/assets/js/plugins/bootstrap-datetimepicker.js " type="text/javascript "></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="../user-pages/assets/js/plugins/nouislider.min.js " type="text/javascript "></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE "></script>
<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<script src="../user-pages/assets/js/material-kit.js?v=2.0.6 " type="text/javascript "></script>
<!--CND font-awesome-->
<script src="https://kit.fontawesome.com/cf6028255a.js " crossorigin="anonymous "></script>
</body>

</html>