<!-- HEAD -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IMPIANTI-TRASPARENTI</title>
    <!--CND Bootstrap-->
    <link rel="stylesheet" type="text/css" href="../user-pages/assets/css/material-kit.css" />
    <!--Link CSS-->
    <link rel="stylesheet" type="text/css" href="../user-pages/assets/css/style.css" />

    <link rel="icon" type="image/x-icon" href="../user-pages/assets/img/favicon.ico" />
    
</head>

<body class="custom-body">
    <!-- HEAD-END -->