<div class="page-header " data-parallax="true">
    <div class="container">
        <div id="scene">

            <div class="row justify-content-between">
                <div class="col">
                    <div class="parallax-div layer" data-depth="0.<%=Math.floor((Math.random() * 4) + 2);%>"></div>
                </div>
                <div class="col">
                    <div class="parallax-div layer" data-depth="0.<%=Math.floor((Math.random() * 4) + 2);%>"></div>
                </div>
            </div>

            <div class="row justify-content-between">
                <div class="col">
                    <div class="parallax-div layer" data-depth="0.<%=Math.floor((Math.random() * 4) + 2);%>"></div>
                </div>
                <div class="col">
                    <div class="parallax-div layer" data-depth="0.<%=Math.floor((Math.random() * 4) + 2);%>"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="main main-raised mx-5" style="border-radius: 15px; ">
    <div class="container">
        <div class="section text-center">
            <h1 class="fanculo">Cos'è Questo Sito ?</h1>
            <p>Impianti Sportivi ti permette di accedere alla tua rubrica preferita quando vuoi e dove vuoi, da PC, Smartphone o Tablet. Entra a far parte della nostra Community. Tutto a portata di mano. Accedi se hai già un tuo account oppure registrati
                ! Sfoglia in modo facile e immediato tra centinaia di opzioni, scegli quella che fa per te, selezione un Tag e comincia ora !</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card custom-shadow">
                    <div class="card-header card-header-danger hvr-grow-shadow text-center" style="cursor: pointer;">
                        Prenota<i class="fas fa-pen ml-1"></i>
                    </div>
                    <div class="card-body">
                        <p>Ti piace quello che vedi ? Valuta tu stesso. Cosa possiamo aggiungere ? Cosa non è necessario ?</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card custom-shadow">
                    <div class="card-header card-header-danger hvr-grow-shadow text-center" style="cursor: pointer;">
                        Contatti<i class="fas fa-phone ml-1"></i>
                    </div>
                    <div class="card-body">
                        <p>Ti piace quello che vedi ? Valuta tu stesso. Cosa possiamo aggiungere ? Cosa non è necessario ?</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card custom-shadow">
                    <div class="card-header card-header-danger hvr-grow-shadow text-center" style="cursor: pointer;">
                        Sfoglia<i class="fas fa-layer-group ml-1"></i>
                    </div>
                    <div class="card-body">
                        <p>Ti piace quello che vedi ? Valuta tu stesso. Cosa possiamo aggiungere ? Cosa non è necessario ?</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card custom-shadow">
                    <div class="card-header card-header-danger hvr-grow-shadow text-center" style="cursor: pointer;">
                        Lasciaci un Commento<i class="fas fa-comment ml-1"></i>
                    </div>
                    <div class="card-body">
                        <p>Ti piace quello che vedi ? Valuta tu stesso. Cosa possiamo aggiungere ? Cosa non è necessario ?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var scene = document.getElementById('scene');
    var parallax = new Parallax(scene);
</script>