<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">

            <form class="form" method="" action="">
                <div class="card" style="margin-top: 11rem;">


                    <div class="mx-auto mt-3">
                        <button class="btn" style="text-transform: none !important;"><i
                                class="fab fa-google mr-1"></i>Accedi con Google</button>
                    </div>

                    <div class="card-body" style="padding-left: 10px !important;">
                        <p class="card-description text-center">Oppure</p>
                        <div class="input-group mt-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            <input type="mail" class="form-control custom-input" placeholder="Mail"></input>
                        </div>
                        <div class="input-group mt-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control custom-input" placeholder="Password"></input>
                        </div>
                    </div>
                    <div class="card-footer justify-content-center">
                        <button class="btn btn-white" style="text-transform: none !important;"><i
                                class="fas fa-sign-in-alt mr-1"></i>Accedi</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>