<!--NAVBAR-->
<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg" color-on-scroll="75">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#" style="letter-spacing: 6px;">IMPIANTI TRASPARENTI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="navbar-toggler-icon"></span>
                      <span class="navbar-toggler-icon"></span>
                      <span class="navbar-toggler-icon"></span>
                </button>
        </div>
        <div id="my-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav text-center ml-auto">
                <li class="nav-item mr-3">
                    <a class="nav-link custom-nav-link" href="#"><i class="fas fa-home mr-1"></i>HOME</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link custom-nav-link" href="#"><i class="fas fa-layer-group mr-1"></i>IMPIANTI</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link custom-nav-link" href="#"><i class="fas fa-users mr-1"></i>CHI SIAMO</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link custom-nav-link" href="#"><i class="fas fa-sign-in-alt mr-1"></i>ACCEDI</a>
                </li>
                <li>
                    <form class="form-inline">
                        <button class="btn btn-white btn-round mx-auto" type="button" style="font-size: 14px; color: black;">REGISTRATI</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--END-NAVBAR-->