<div class="sidebar-wrapper" data-color="info">
    <ul class="nav">
        <li id="dashboard" class="nav-item ">
            <a class="nav-link" href="/admin/dashboard">
                <i class="fas fa-chart-pie"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li id="impianti" class="nav-item ">
            <a class="nav-link" href="/admin/impianti">
                <i class="far fa-building"></i>
                <p>Impianti</p>
            </a>
        </li>
        <li id="society" class="nav-item ">
            <a class="nav-link" href="/admin/society">
                <i class="fas fa-users"></i>
                <p>Società</p>
            </a>
        </li>
        <li id="users" class="nav-item ">
            <a class="nav-link" href="#">
                <i class="fas fa-user"></i>
                <p>Utenti</p>
            </a>
        </li>
        <!-- <li class="nav-item ">
            <a class="nav-link" href="#">
                <i class="fas fa-plus"></i>
                <p>Salva posto</p>
            </a>
        </li> -->
    </ul>
</div>