<!-- HEAD -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IMPIANTI-TRASPARENTI</title>
    <!--CND Bootstrap-->
    <link rel="stylesheet" type="text/css" href="../user-pages/assets/css/material-kit.css" />
    <!--Link CSS-->
    <link rel="stylesheet" type="text/css" href="../user-pages/assets/css/style.css" />
</head>

<body class="custom-body">
    <!-- HEAD-END -->

    <!--NAVBAR-->
    <nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand custom-navbar-logo" href="/user"><i class="fas fa-quidditch mr-1"></i>Impianti
                Trasparenti</a>
        </div>
    </nav>
    <!--END-NAVBAR-->
    <div class="page-header " data-parallax="true">
        <div class="container ">
            <div class="row ">
                <div class="col-sm-7">
                    <h1 class="custom-h1">Cuneo,<br> abbiamo un problema</h1>
                    <p style="font-size: 1.2rem;">Sembrerebbe che ci sia un errore, prova a <br>ricaricare la pagina o
                        <a href="/user/contattaci" class="text-info"> <strong> contattaci <i
                                    class="fas fa-external-link-alt"></i></strong></a> </p>
                </div>
                <div class="col-sm-5 justify-content-center ">
                    <h1 class="text-center ml-3 item-align-center shadow" style="font-size: 7rem; font-weight: 600;">
                        <i class="fas fa-code-branch"></i> <%=err%>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <a class="btn btn-white" href="/user"><i class="fas fa-home mr-1"></i>Torna alla Home</a>
                </div>
            </div>
        </div>
    </div>
    </div>

    <footer class="bg-transparent fixed-bottom">
        <div class="container">
            <div class="footer-copyright text-center py-3 text-white">
                <i class="fa fa-copyright mr-1" aria-hidden="true "></i>2020 | Tutti i diritti riservati | <strong>ITIS
                    Delpozzo Cuneo</strong>
            </div>
        </div>
    </footer>

    <!--   Core JS Files   -->
    <script src="../user-pages/assets/js/core/jquery.min.js " type="text/javascript "></script>
    <script src="../user-pages/assets/js/core/popper.min.js " type="text/javascript "></script>
    <script src="../user-pages/assets/js/core/bootstrap-material-design.min.js " type="text/javascript "></script>
    <script src="../user-pages/assets/js/plugins/moment.min.js"></script>
    <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src="../user-pages/assets/js/plugins/bootstrap-datetimepicker.js " type="text/javascript "></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="../user-pages/assets/js/plugins/nouislider.min.js " type="text/javascript "></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE "></script>
    <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
    <script src="../user-pages/assets/js/material-kit.js?v=2.0.6 " type="text/javascript "></script>
    <!--CND font-awesome-->
    <script src="https://kit.fontawesome.com/cf6028255a.js " crossorigin="anonymous "></script>
</body>

</html>