<!-- begin:: Footer -->
<div style="z-index: 100;" class="kt-footer  kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
	<div class="kt-container  kt-container--fluid ">
		<div class="kt-footer__copyright">
			2020&nbsp;&copy;&nbsp;<a href="http://www.itiscuneo.gov.it" target="_blank" class="kt-link">I.T.I.S.
				"Delpozzo" Cuneo</a>
		</div>
		<div class="kt-footer__menu">
			Progetto open source su
			<a href="https://github.com/neutral-studio/impianti-trasparenti" target="_blank">
				<span class="kt-badge kt-badge--inline kt-badge--danger ml-2"><i class="fab fa-github mr-1"></i>
					impianti-trasparenti</span>
			</a>
		</div>
	</div>
</div>

<!-- end:: Footer -->