<!-- begin:: Aside -->
<div class="kt-aside__brand kt-grid__item " id="kt_aside_brand">
	<div class="kt-aside__brand-logo">
		<a href="/admin/dashboard">
			<h5 class="kt-shape-font-color-1"><i class="fas fa-quidditch mr-2"></i>IMPIANTI-TRASPARENTI</h5>
		</a>
	</div>
</div>

<!-- end:: Aside -->