<!-- begin:: Header Topbar -->
<div class="kt-header__topbar">


	<%- include('./_user') %>

	<!--[html-partial:include:{"file":"partials/_header/topbar/_user.html"}]/-->
</div>

<!-- end:: Header Topbar -->